In [460]:
import numpy as np
import pandas as pd
pd.set_option('max_columns', None)

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [379]:
mission = "../../missions.csv"
mission_df = pd.read_csv(mission, index_col='ID').drop(columns=['Unnamed: 0'])

astronauts = "../../astronauts.csv"
astronauts_df = pd.read_csv(astronauts).drop(columns=['Unnamed: 0', 'id', 'original_name'])

In [380]:
astronauts_df.head(5)

,number,nationwide_number,name,sex,year_of_birth,nationality,military_civilian,selection,year_of_selection,mission_number,total_number_of_missions,occupation,year_of_mission,mission_title,ascend_shuttle,in_orbit,descend_shuttle,hours_mission,total_hrs_sum,field21,eva_hrs_mission,total_eva_hrs
0,1,1,"Gagarin, Yuri",male,1934,U.S.S.R/Russia,military,TsPK-1,1960,1,1,pilot,1961,Vostok 1,Vostok 1,Vostok 2,Vostok 3,1.77,1.77,0,0.0,0.0
1,2,2,"Titov, Gherman",male,1935,U.S.S.R/Russia,military,TsPK-1,1960,1,1,pilot,1961,Vostok 2,Vostok 2,Vostok 2,Vostok 2,25.00,25.30,0,0.0,0.0
2,3,1,"Glenn, John H., Jr.",male,1921,U.S.,military,NASA Astronaut Group 1,1959,1,2,pilot,1962,MA-6,MA-6,MA-6,MA-6,5.00,218.00,0,0.0,0.0
3,3,1,"Glenn, John H., Jr.",male,1921,U.S.,military,NASA Astronaut Group 2,1959,2,2,PSP,1998,STS-95,STS-95,STS-95,STS-95,213.00,218.00,0,0.0,0.0
4,4,2,"Carpenter, M. Scott",male,1925,U.S.,military,NASA- 1,1959,1,1,Pilot,1962,Mercury-Atlas 7,Mercury-Atlas 7,Mercury-Atlas 7,Mercury-Atlas 7,5.00,5.00,0,0.0,0.0

In [381]:
#### astronauts_df['occupation'] = astronauts_df['occupation'].str.lower()
astronauts_df.loc[astronauts_df['occupation'] == 'space tourist', 'occupation'] = 'other (space tourist)'

In [382]:
# Check for the number of null
astronauts_df.isnull().sum()

number                      0
nationwide_number           0
name                        0
sex                         0
year_of_birth               0
nationality                 0
military_civilian           0
selection                   5
year_of_selection           0
mission_number              0
total_number_of_missions    0
occupation                  0
year_of_mission             0
mission_title               1
ascend_shuttle              1
in_orbit                    0
descend_shuttle             1
hours_mission               0
total_hrs_sum               0
field21                     0
eva_hrs_mission             0
total_eva_hrs               0
dtype: int64

In [383]:
def impute_shuttles(row) -> pd.Series:
    if 'Soyuz' in row['in_orbit']:
        row['ascend_shuttle'] = row['in_orbit']
        row['descend_shuttle'] = row['in_orbit']
    return row
astronauts_df.loc[astronauts_df['in_orbit'].str.contains("Soyuz")]
missing_shuttles = astronauts_df.loc[astronauts_df['ascend_shuttle'].isna()]
missing_shuttles = missing_shuttles.apply(impute_shuttles, axis=1)
astronauts_df.loc[astronauts_df['ascend_shuttle'].isna()] = missing_shuttles

In [384]:
# astronauts_df.loc[astronauts_df['mission_title'].isna()]
astronauts_df.loc[(astronauts_df['year_of_mission'] == 2019) & (astronauts_df['ascend_shuttle'].str.contains('Soyuz 13'))]
missing_mission_titles = astronauts_df.loc[astronauts_df['mission_title'].isna()]
missing_mission_titles['mission_title'] = 60
astronauts_df.loc[astronauts_df['mission_title'].isna()] = missing_mission_titles

In [385]:
# Select all Selection process in US

astronauts_df.loc[(astronauts_df['nationality'] == "U.S.") & (astronauts_df['military_civilian'] == "civilian")]['selection'].unique()
astronauts_df.loc[astronauts_df['nationality'] == "U.K./U.S."]
astronauts_df.loc[astronauts_df['selection'] == "MirCorp"]

,number,nationwide_number,name,sex,year_of_birth,nationality,military_civilian,selection,year_of_selection,mission_number,total_number_of_missions,occupation,year_of_mission,mission_title,ascend_shuttle,in_orbit,descend_shuttle,hours_mission,total_hrs_sum,field21,eva_hrs_mission,total_eva_hrs
998,406,256,"Tito, Dennis Anthony",male,1940,U.S.,civilian,MirCorp,2000,1,1,Other (space tourist),2001,ЭП-1,Soyuz TM-32,Soyuz TM-32,Soyz TM-31,190.13,190.13,0,0.0,0.0

In [386]:
missing_selection = astronauts_df.loc[astronauts_df['selection'].isna()]
missing_selection['selection'] = 'MirCorp'
astronauts_df.loc[astronauts_df['selection'].isna()] = missing_selection

In [387]:
print("Total missing values in the entire astronauts dataset:", astronauts_df.isnull().sum().sum())

Total missing values in the entire astronauts dataset: 0

In [388]:
astronauts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1277 entries, 0 to 1276
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   number                    1277 non-null   int64
 1   nationwide_number         1277 non-null   int64
 2   name                      1277 non-null   object
 3   sex                       1277 non-null   object
 4   year_of_birth             1277 non-null   int64
 5   nationality               1277 non-null   object
 6   military_civilian         1277 non-null   object
 7   selection                 1277 non-null   object
 8   year_of_selection         1277 non-null   int64
 9   mission_number            1277 non-null   int64
 10  total_number_of_missions  1277 non-null   int64
 11  occupation                1277 non-null   object
 12  year_of_mission           1277 non-null   int64
 13  mission_title             1277 non-null   object
 14  ascend_shuttle            1277 non-null   object
 15  in_orbit                  1277 non-null   object
 16  descend_shuttle           1277 non-null   object
 17  hours_mission             1277 non-null   float64
 18  total_hrs_sum             1277 non-null   float64
 19  field21                   1277 non-null   int64
 20  eva_hrs_mission           1277 non-null   float64
 21  total_eva_hrs             1277 non-null   float64
dtypes: float64(4), int64(8), object(10)
memory usage: 219.6+ KB

In [389]:
mission_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4324 entries, 0 to 4323
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company Name    4324 non-null   object
 1   Location        4324 non-null   object
 2   Date            4324 non-null   object
 3   Detail          4324 non-null   object
 4   Status Rocket   4324 non-null   object
 5   Cost            964 non-null    object
 6   Status Mission  4324 non-null   object
dtypes: object(7)
memory usage: 270.2+ KB

In [390]:
mission_df.sample(5)

,Company Name,Location,Date,Detail,Status Rocket,Cost,Status Mission
ID,,,,,,,
3337,RVSN USSR,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Sat Jun 12, 1971 05:30 UTC",Soyuz L | Cosmos 434 (T2K Lunar Lander),StatusRetired,NaN,Success
3252,RVSN USSR,"Site 41/1, Plesetsk Cosmodrome, Russia","Thu Mar 30, 1972 14:05 UTC",Vostok-2M | Meteor n†­22,StatusRetired,NaN,Success
713,VKS RF,"Site 133/3, Plesetsk Cosmodrome, Russia","Wed Sep 08, 2010 03:30 UTC","Rokot/Briz KM | Cosmos 2467, 2468 and Goniets-...",StatusRetired,41.8,Success
330,VKS RF,"Site 81/24, Baikonur Cosmodrome, Kazakhstan","Wed Aug 16, 2017 22:07 UTC",Proton-M/Briz-M | Blagovest-11L,StatusActive,65,Success
734,Roscosmos,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Apr 02, 2010 04:04 UTC",Soyuz FG | Soyuz TMA-18,StatusRetired,NaN,Success

In [391]:
mission_df['Cost'] = mission_df['Cost'].str.replace(',', '')
mission_df['Cost'] = pd.to_numeric(mission_df['Cost'])

In [392]:
mission_df['Cost'].describe()

count     964.000000
mean      153.792199
std       288.450732
min         5.300000
25%        40.000000
50%        62.000000
75%       164.000000
max      5000.000000
Name: Cost, dtype: float64

In [393]:
mission_df.loc[mission_df['Company Name'] == "Arm??e de l'Air", ['Company Name']] = "Arme de l'Air"

In [414]:
mission_df['Country'] = mission_df['Location'].str.extract(r'^.*?([^\t,]*)$')
mission_df['Country'] = mission_df['Country'].str.strip()

In [456]:
mission_df[['Vehicle', 'Rocket']] = mission_df['Detail'].str.split('|', expand=True)

In [395]:
mission_df.groupby('Country').size()

Country
 Australia                            6
 Barents Sea                          3
 Brazil                               3
 China                              268
 France                             303
 Gran Canaria                         2
 India                               76
 Iran                                13
 Israel                              11
 Japan                              126
 Kazakhstan                         701
 Kenya                                9
 New Mexico                           4
 New Zealand                         13
 North Korea                          5
 Pacific Missile Range Facility       1
 Pacific Ocean                       36
 Russia                            1395
 Shahrud Missile Test Site            1
 South Korea                          3
 USA                               1344
 Yellow Sea                           1
dtype: int64

In [396]:
mission_df[~(mission_df['Date'].str.match(pat=".*(?=\d{2}:\d{2} [A-Z]{3})"))].sample(10)

,Company Name,Location,Date,Detail,Status Rocket,Cost,Status Mission,Country
ID,,,,,,,,
4306,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...","Fri Aug 22, 1958",NOTS-EV-1 Pilot II | Pilot-3 (D3),StatusRetired,NaN,Failure,USA
3901,RVSN USSR,"Site 86/1, Kapustin Yar, Russia","Mon Feb 21, 1966",Cosmos-2I (63S1) | DS-K40 #2,StatusRetired,NaN,Failure,Russia
1903,RVSN USSR,"Site 132/2, Plesetsk Cosmodrome, Russia","Tue Feb 14, 1989",Cosmos-3M (11K65M) | Cosmos 2002,StatusRetired,NaN,Success,Russia
1909,RVSN USSR,"Site 32/1, Plesetsk Cosmodrome, Russia","Fri Dec 23, 1988",Tsyklon-3 | Cosmos 1985,StatusRetired,NaN,Success,Russia
3787,UT,"Uchinoura Space Center, Japan","Mon Apr 03, 1967",Lambda-IV S | Osumi,StatusRetired,NaN,Failure,Japan
2369,RVSN USSR,"Site 107/1, Kapustin Yar, Russia","Fri Nov 20, 1981",Cosmos-3M (11K65M) | Bhaskara-2,StatusRetired,NaN,Success,Russia
3289,RVSN USSR,"Site 132/1, Plesetsk Cosmodrome, Russia","Thu Dec 02, 1971",Cosmos-3M (11K65M) | Cosmos 461,StatusRetired,NaN,Success,Russia
1856,RVSN USSR,"Site 32/2, Plesetsk Cosmodrome, Russia","Wed Dec 27, 1989",Tsyklon-3 | Cosmos 2053,StatusRetired,NaN,Success,Russia
2379,RVSN USSR,"Site 32/1, Plesetsk Cosmodrome, Russia","Mon Sep 21, 1981",Tsyklon-3 | Aureole 3,StatusRetired,NaN,Success,Russia
564,IAI,"Pad 1, Palmachim Airbase, Israel","Wed Apr 09, 2014",Shavit-2 | Ofek-10,StatusActive,NaN,Success,Israel

In [448]:
usa_missions = mission_df.loc[(mission_df['Country'] == "India") & (mission_df['Cost'].notnull())]
usa_missions.groupby('Company Name').agg(min_cost=('Cost', 'min'), 
                                         max_cost=('Cost', 'max'),
                                         median_cost=('Cost', np.median),
                                         count=('Cost','count'))

              min_cost  max_cost  median_cost  count
Company Name
ISRO              21.0      62.0         31.0     67

In [449]:
null_usa_missions = mission_df.loc[(mission_df['Country'] == "India") & (mission_df['Cost'].isnull())]
null_usa_missions.groupby('Company Name').size()

Company Name
ISRO    9
dtype: int64

In [459]:
mission_df[(mission_df['Country'] == "India") & mission_df['Cost'].notnull()]

,Company Name,Location,Date,Detail,Status Rocket,Cost,Status Mission,Country,Vehicle,Rocket
ID,,,,,,,,,,
72,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Wed Dec 11, 2019 09:55 UTC",PSLV-QL | RISAT 2BR1,StatusActive,21.0,Success,India,PSLV-QL,RISAT 2BR1
80,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Wed Nov 27, 2019 03:58 UTC",PSLV-XL | Cartosat-3 & Rideshares,StatusActive,31.0,Success,India,PSLV-XL,Cartosat-3 & Rideshares
121,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Mon Jul 22, 2019 09:13 UTC",GSLV Mk III | Chandrayaan-2 lunar mission,StatusActive,62.0,Success,India,GSLV Mk III,Chandrayaan-2 lunar mission
138,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Wed May 22, 2019 00:00 UTC",PSLV-CA | RISAT-2B,StatusActive,21.0,Success,India,PSLV-CA,RISAT-2B
149,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Mon Apr 01, 2019 03:57 UTC",PSLV-QL | EMISAT & Rideshares,StatusActive,21.0,Success,India,PSLV-QL,EMISAT & Rideshares
...,...,...,...,...,...,...,...,...,...,...
1249,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Sat May 29, 1999 11:52 UTC","PSLV-G | IRS-P4, DLR-Tubsat, & Kitsat-3",StatusRetired,25.0,Success,India,PSLV-G,"IRS-P4, DLR-Tubsat, & Kitsat-3"
1362,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Mon Sep 29, 1997 10:20 UTC",PSLV-G | IRS-1D,StatusRetired,25.0,Partial Failure,India,PSLV-G,IRS-1D
1455,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Thu Mar 21, 1996 04:53 UTC",PSLV-G | IRS-P3,StatusRetired,25.0,Success,India,PSLV-G,IRS-P3
1546,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Sat Oct 15, 1994 05:05 UTC",PSLV-G | IRS-P2,StatusRetired,25.0,Success,India,PSLV-G,IRS-P2
1609,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Mon Sep 20, 1993 05:12 UTC",PSLV-G | IRS-P1,StatusRetired,25.0,Failure,India,PSLV-G,IRS-P1

In [469]:
mission_df.loc[mission_df['Vehicle'].str.contains("PSLV")]

,Company Name,Location,Date,Detail,Status Rocket,Cost,Status Mission,Country,Vehicle,Rocket
ID,,,,,,,,,,
72,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Wed Dec 11, 2019 09:55 UTC",PSLV-QL | RISAT 2BR1,StatusActive,21.0,Success,India,PSLV-QL,RISAT 2BR1
80,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Wed Nov 27, 2019 03:58 UTC",PSLV-XL | Cartosat-3 & Rideshares,StatusActive,31.0,Success,India,PSLV-XL,Cartosat-3 & Rideshares
138,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Wed May 22, 2019 00:00 UTC",PSLV-CA | RISAT-2B,StatusActive,21.0,Success,India,PSLV-CA,RISAT-2B
149,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Mon Apr 01, 2019 03:57 UTC",PSLV-QL | EMISAT & Rideshares,StatusActive,21.0,Success,India,PSLV-QL,EMISAT & Rideshares
164,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Thu Jan 24, 2019 18:07 UTC",PSLV-DL | Microsat-R,StatusActive,NaN,Success,India,PSLV-DL,Microsat-R
188,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Thu Nov 29, 2018 04:27 UTC",PSLV-CA | HySIS,StatusActive,21.0,Success,India,PSLV-CA,HySIS
215,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Sun Sep 16, 2018 16:38 UTC",PSLV-CA | SSTL-1 & NovaSAR-S,StatusActive,21.0,Success,India,PSLV-CA,SSTL-1 & NovaSAR-S
254,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Wed Apr 11, 2018 22:34 UTC",PSLV-XL | IRNSS-1I,StatusActive,31.0,Success,India,PSLV-XL,IRNSS-1I
285,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Fri Jan 12, 2018 03:58 UTC",PSLV-XL | Cartosat-2F & Rideshares,StatusActive,31.0,Success,India,PSLV-XL,Cartosat-2F & Rideshares
324,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Thu Aug 31, 2017 13:30 UTC",PSLV-XL | IRNSS-1H,StatusActive,31.0,Failure,India,PSLV-XL,IRNSS-1H
343,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Fri Jun 23, 2017 03:59 UTC",PSLV-XL | Cartosat-2E & Rideshares,StatusActive,31.0,Success,India,PSLV-XL,Cartosat-2E & Rideshares
372,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Wed Feb 15, 2017 03:58 UTC",PSLV-XL | Cartosat-2D & Rideshares,StatusActive,31.0,Success,India,PSLV-XL,Cartosat-2D & Rideshares
390,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Wed Dec 07, 2016 04:54 UTC",PSLV-XL | Resourcesat-2A,StatusActive,31.0,Success,India,PSLV-XL,Resourcesat-2A
407,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Mon Sep 26, 2016 03:42 UTC",PSLV-G | ScatSat-1 & Rideshares,StatusRetired,25.0,Success,India,PSLV-G,ScatSat-1 & Rideshares
428,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Wed Jun 22, 2016 03:56 UTC",PSLV-XL | Cartosat-2C & Rideshares,StatusActive,31.0,Success,India,PSLV-XL,Cartosat-2C & Rideshares
442,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Thu Apr 28, 2016 07:20 UTC",PSLV-XL | IRNSS-1G,StatusActive,31.0,Success,India,PSLV-XL,IRNSS-1G
455,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Thu Mar 10, 2016 10:31 UTC",PSLV-XL | IRNSS-1F,StatusActive,31.0,Success,India,PSLV-XL,IRNSS-1F
468,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Wed Jan 20, 2016 04:01 UTC",PSLV-XL | IRNSS-1E,StatusActive,31.0,Success,India,PSLV-XL,IRNSS-1E
473,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Wed Dec 16, 2015 12:30 UTC",PSLV-CA | TeLEOS-1 & Rideshares,StatusActive,21.0,Success,India,PSLV-CA,TeLEOS-1 & Rideshares
486,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Mon Sep 28, 2015 04:30 UTC",PSLV-XL | Astrosat & Rideshares,StatusActive,31.0,Success,India,PSLV-XL,Astrosat & Rideshares
498,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Fri Jul 10, 2015 16:28 UTC",PSLV-XL | UK-DMC3A/B/C & Rideshares,StatusActive,31.0,Success,India,PSLV-XL,UK-DMC3A/B/C & Rideshares
508,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Sat Mar 28, 2015 11:49 UTC",PSLV-XL | IRNSS-1D,StatusActive,31.0,Success,India,PSLV-XL,IRNSS-1D
536,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Thu Oct 16, 2014 20:02 UTC",PSLV-XL | IRNSS-1C,StatusActive,31.0,Success,India,PSLV-XL,IRNSS-1C
554,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Mon Jun 30, 2014 04:22 UTC",PSLV-CA | SPOT-7 & Rideshares,StatusActive,21.0,Success,India,PSLV-CA,SPOT-7 & Rideshares
565,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Fri Apr 04, 2014 11:44 UTC",PSLV-XL | IRNSS-1B,StatusActive,31.0,Success,India,PSLV-XL,IRNSS-1B
585,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Tue Nov 05, 2013 09:08 UTC",PSLV-XL | Mars Orbiter Mission,StatusActive,31.0,Success,India,PSLV-XL,Mars Orbiter Mission
602,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Mon Jul 01, 2013 18:11 UTC",PSLV-XL | IRNSS-1A,StatusActive,31.0,Success,India,PSLV-XL,IRNSS-1A
614,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Mon Feb 25, 2013 12:31 UTC",PSLV-CA | SARAL & Rideshares,StatusActive,21.0,Success,India,PSLV-CA,SARAL & Rideshares
634,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Sun Sep 09, 2012 04:23 UTC",PSLV-CA | SPOT-6 & mRESINS & PROITERES,StatusActive,21.0,Success,India,PSLV-CA,SPOT-6 & mRESINS & PROITERES
651,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Thu Apr 26, 2012 00:17 UTC",PSLV-XL | RISAT-1,StatusActive,31.0,Success,India,PSLV-XL,RISAT-1
652,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Thu Apr 26, 2012",PSLV-XL | PSLV- C19 RISAT-1,StatusActive,31.0,Success,India,PSLV-XL,PSLV- C19 RISAT-1
667,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Wed Oct 12, 2011 05:31 UTC",PSLV-CA | Megha-Tropiques & Rideshares,StatusActive,21.0,Success,India,PSLV-CA,Megha-Tropiques & Rideshares
681,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Fri Jul 15, 2011 11:18 UTC",PSLV-XL | GSAT-12,StatusActive,31.0,Success,India,PSLV-XL,GSAT-12
690,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Wed Apr 20, 2011 04:42 UTC",PSLV-G | ResourceSat-2 & X-Sat & YouthSat,StatusRetired,25.0,Success,India,PSLV-G,ResourceSat-2 & X-Sat & YouthSat
716,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Mon Jul 12, 2010 03:52 UTC",PSLV-CA | Cartosat-2B & Rideshares,StatusActive,21.0,Success,India,PSLV-CA,Cartosat-2B & Rideshares
753,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Wed Sep 23, 2009 06:21 UTC",PSLV-CA | Oceansat-2 & Rideshares,StatusActive,21.0,Success,India,PSLV-CA,Oceansat-2 & Rideshares
774,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Mon Apr 20, 2009 01:15 UTC",PSLV-CA | RISAT-2 & ANUSAT,StatusActive,21.0,Success,India,PSLV-CA,RISAT-2 & ANUSAT
797,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Wed Oct 22, 2008 00:52 UTC",PSLV-XL | Chandrayaan-1,StatusActive,31.0,Success,India,PSLV-XL,Chandrayaan-1
822,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Mon Apr 28, 2008 03:53 UTC",PSLV-CA | Cartosat-2A & Rideshares,StatusActive,21.0,Success,India,PSLV-CA,Cartosat-2A & Rideshares
835,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Mon Jan 21, 2008 03:45 UTC",PSLV-CA | TecSAR,StatusActive,21.0,Success,India,PSLV-CA,TecSAR
875,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Mon Apr 23, 2007 10:00 UTC",PSLV-CA | AGILE & AAM,StatusActive,21.0,Success,India,PSLV-CA,AGILE & AAM
886,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Wed Jan 10, 2007 03:54 UTC",PSLV-G | Cartosat-2 & SRE-1 & Rideshares,StatusRetired,25.0,Success,India,PSLV-G,Cartosat-2 & SRE-1 & Rideshares
960,ISRO,"Second Launch Pad, Satish Dhawan Space Centre,...","Thu May 05, 2005 04:45 UTC",PSLV-G | Cartosat-1 & HAMSAT,StatusRetired,25.0,Success,India,PSLV-G,Cartosat-1 & HAMSAT
1024,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Fri Oct 17, 2003 04:52 UTC",PSLV-G | RESOURCESAT-1 (IRS-P6),StatusRetired,25.0,Success,India,PSLV-G,RESOURCESAT-1 (IRS-P6)
1080,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Thu Sep 12, 2002 10:23 UTC",PSLV-G | C4 - MetSat-1 (Kalpana-1),StatusRetired,25.0,Success,India,PSLV-G,C4 - MetSat-1 (Kalpana-1)
1121,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Mon Oct 22, 2001 10:23 UTC","PSLV-G | TES, BIRD & PROBA",StatusRetired,25.0,Success,India,PSLV-G,"TES, BIRD & PROBA"
1249,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Sat May 29, 1999 11:52 UTC","PSLV-G | IRS-P4, DLR-Tubsat, & Kitsat-3",StatusRetired,25.0,Success,India,PSLV-G,"IRS-P4, DLR-Tubsat, & Kitsat-3"
1362,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Mon Sep 29, 1997 10:20 UTC",PSLV-G | IRS-1D,StatusRetired,25.0,Partial Failure,India,PSLV-G,IRS-1D
1455,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Thu Mar 21, 1996 04:53 UTC",PSLV-G | IRS-P3,StatusRetired,25.0,Success,India,PSLV-G,IRS-P3
1546,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Sat Oct 15, 1994 05:05 UTC",PSLV-G | IRS-P2,StatusRetired,25.0,Success,India,PSLV-G,IRS-P2
1609,ISRO,"First Launch Pad, Satish Dhawan Space Centre, ...","Mon Sep 20, 1993 05:12 UTC",PSLV-G | IRS-P1,StatusRetired,25.0,Failure,India,PSLV-G,IRS-P1